# --- MAVEN ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
build.log
.flattened-pom.xml

# --- IDEs ---
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch
bin/

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbproject/maven-pom.xml

# VS Code
.vscode/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
